#us{
    overflow: hidden;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    background: rgb(14, 0, 14);
    color: aliceblue;

}

.teamTittle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom:1.5rem;
    text-align: center;
    justify-content: center;
    
}

.teamDesc{
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 60rem;
    padding: 0 2rem;
    justify-content: center;
}

.teamBars{
    margin: 1.5rem;
    width:100vw;
    max-width:100%;
    text-align:left;
    
    
}

.teamBar{
    display:flex;
    margin: 3rem;
    padding: 1.5rem 1.5rem;
    border-radius: 0.5rem;
    background: rgb(14, 0, 14);
}




.teamBarText>h2{
    
    color: rgb(60, 210, 230);
    font-size:3rem;
    font-weight: 600;
}
.teamBarText>p{
    font-size: 2rem;
    font-weight: 300;
    justify-content: stretch;
    color: aliceblue;
    padding: 0 2rem;
    margin-left: -3cm;
    margin-top: 1.2cm;
    
}
@media screen and (max-width: 768px) {
    .teamBarText>p{
        font-size: 2vw;
        object-fit: contain;
            
    }
    
    .teamBarText>h2{
        font-size: 5vw;
            
    }
}