.container-fluid {
    background-color: rgb(5, 5, 53);
    color: aliceblue;
padding: auto;}

    .navbar-brand {
      background-color: rgb(230, 230, 240);
      color: rgb(228, 235, 235);
      display: flex;
      padding: 0.5rem;
      margin: 2rem;
      border-radius: 0.5rem;
      justify-content: center;
    }

.navbar-nav .nav-link {
    background-color: rgb(10, 10, 156);
    color: azure;
    display: flex;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 0.5rem;
    justify-content: center;
  }

  .container-fluid .navbar-nav .nav-link:hover {
    color:bisque;
    padding-bottom: 0.5rem;      }

    .navbar-nav .nav-link:active {
      background-color: rgb(125, 125, 219);
      color: azure;
      display: flex;
      padding: 0.5rem;
      margin: 2rem;
      border-radius: 0.5rem;
      justify-content: center;
    }
  
  